.hero-bg {
  background-image: url(../assets/backgrounds/hero-alt.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
}

.help-bg {
  background-image: url(../assets/backgrounds/help.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.math-bg {
  background-image: url(../assets/backgrounds/math.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.app-bg {
  background-image: url(../assets/backgrounds/app.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.account-bg {
  background-image: url(../assets/backgrounds/account.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
}

.subscribe-bg {
  background-image: url(../assets/backgrounds/subscribe.webp);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.legal-header-bg {
  background-image: url(../assets/backgrounds/legal-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.faq-header-bg {
  background-image: url(../assets/backgrounds/faq-header.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}