@import url("../styles/backgrounds.css");
@import url("../styles/table.css");
@import url("../styles/customVideo.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #1D4ED8;
  --secondary: #F0AC27;
  --white: #ffffff;
  --black: #000000;
  --accent: #F3EDFC;
  --accent-light: #DFBFF554;
  --success: '#059669';
  --error: '#DC2626';
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-primary);
  font-weight: 400;
  font-size: 16px;
  color: var(--black);
  scroll-behavior: smooth;
}

/* Input styles */
.inputContainer {
  display: flex;
  gap: 7px;
  flex-direction: column;
  position: relative;
}

.inputContainer>label {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #64748B;
}

.inputContainer>label>span {

  font-weight: 500;
  font-size: 14px;
  /* identical to box height, or 200% */

  color: #64748B;
}

.formContainer>h2 {
  margin: 0;
  font-size: 1.25rem;
  font-weight: 600;
  margin-top: 59.87px;
  /* margin-bottom: 9px; */
}

.inputContainer>* input,
textarea {
  padding: 12px;
  font-size: 1rem;
  font-family: var(--font-primary);
  border: 1px solid #D0D5DD;
  border-radius: 5px;
  width: 100%;
  color: var(--black);
}

.inputContainer>* input::placeholder,
textarea::placeholder {
  color: #B8C0CC;
}

.inputContainer>* input:focus,
textarea:focus {
  outline: 1px solid var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

.inputError {
  border: 1px solid #EF4444 !important;
}

.error {
  color: #EF4444;
  text-align: left !important;
  font-size: 0.75rem;
}

.error::first-letter {
  text-transform: uppercase;
}

.errorText {
  color: #EF4444;
}

.line-clamp {
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

/* Customized Scrollbar */
.customized-scrollbar::-webkit-scrollbar {
  width: 7px;
  height: 5px;
}

/* Track */
.customized-scrollbar::-webkit-scrollbar-track {
  background: #efefef;
  border-radius: 15px;
}

/* Handle */
.customized-scrollbar::-webkit-scrollbar-thumb {
  background: #ccc;
  border-radius: 15px;
}

/* Handle on hover */
.customized-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #999999;
}


/* Floating Input styles */
.floatingInputContainer {
  position: relative;
}

.floatingInputContainer>label {
  font-size: 14px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 2px;
  color: #64748B;
}

.floatingInputContainer>label>span {

  font-weight: 500;
  font-size: 14px;
  /* identical to box height, or 200% */

  color: #64748B;
}

.floatingInputContainer>* input,
textarea {
  padding: 12px;
  font-size: 1rem;
  font-family: var(--font-primary);
  border: 1px solid #D0D5DD;
  border-radius: 5px;
  width: 100%;
  color: var(--black);
}

.floatingInputContainer>* input::placeholder,
textarea::placeholder {
  color: #B8C0CC;
}

.floatingInputContainer>* input:focus,
textarea:focus {
  outline: 1px solid var(--primary) !important;
  border: 1px solid var(--primary) !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  box-shadow: inset 0 0 20px 20px #ffffff;
}

textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
textarea:-webkit-autofill:active {
  box-shadow: inset 0 0 20px 20px #ffffff;
}

@media (max-width:1000px) {
  .inputContainer>label {
    font-size: 16px;
    font-weight: 500;
  }

  .inputContainer>label>span {
    font-size: 16px;
  }

  .formContainer>h2 {
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    margin-top: 39.87px;
    /* margin-bottom: 9px; */
  }

  .floatingInputContainer>label {
    font-size: 16px;
    font-weight: 500;
  }

  .floatingInputContainer>label>span {
    font-size: 16px;
  }
}